<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/WdatePicker.css" />
<link rel="stylesheet" type="text/css" href="css/skin_/form.css" />
<link href="umeditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.select.js"></script>
<script type="text/javascript" src="js/WdatePicker.js"></script>
<script type="text/javascript">
window.UMEDITOR_HOME_URL = 'umeditor/';  // 请换成绝对路径
</script>
<script type="text/javascript" src="js/umeditor.config.js"></script>
<script type="text/javascript" src="js/editor_api.js"></script>
<script type="text/javascript" src="umeditor/lang/zh-cn/zh-cn.js"></script>
<title>发布招聘</title>
</head>

<body>

<div id="container">
	<div id="hd">
    </div>
	     <form id="form1">
    <div id="bd">
    	<div id="main">
            <h2 class="subfild">
            	<span>基本信息</span>
            </h2>
            <div class="subfild-content base-info">
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>职位名称</label>
                    <div class="kv-item-content">
                        <input name="p_posi_name"type="text" placeholder="请输入您要招聘的职位" />
                    </div>
                </div>
            </div>
                <div class="subfild-content base-info">
                    <div class="kv-item ue-clear" name="#">
                        <label><span class="impInfo">*</span>学历要求</label>
                        <!--<div class="kv-item-content">-->
                            <!--<input name="p_education"type="text" placeholder="请输入招聘职位学历要求" />-->
                        <!--</div>-->
                        <input type="radio" name="p_education" value="不限" />不限
                        <input type="radio" name="p_education" value="大专" />大专
                        <input type="radio" name="p_education" value="本科" />本科
                        <input type="radio" name="p_education" value="本科以上" />本科以上
                        <!--<input type="button" value="确认选择学历" id="btnSubmit" />-->
                    </div>
                </div>
                    <div class="subfild-content base-info">
                        <div class="kv-item ue-clear">
                            <label><span class="impInfo">*</span>职位薪资</label>
                            <!--<div class="kv-item-content">-->
                                <!--<input name="p_sal"type="text" placeholder="请输入招聘职位工资范围" />-->
                            <!--</div>-->
                            <input type="radio" name="p_sal" value="面议" />面议
                            <input type="radio" name="p_sal" value="4K-6K" />4K-6K
                            <input type="radio" name="p_sal" value="6K-8K" />6K-8K
                            <input type="radio" name="p_sal" value="8K-10K" />8K-10K
                            <input type="radio" name="p_sal" value="10K以上" />10K以上
                        </div>
				<div class="kv-item ue-clear">
                	<label><span class="impInfo">*</span>经验要求</label>
                	<div class="kv-item-content">
                    	<input type="text" name="p_exp_time" placeholder="请输入经验，例：三年以上" />
                    </div>
                </div>
				<div class="kv-item ue-clear">
                	<label><span class="impInfo">*</span>工作地点</label>
                	<div class="kv-item-content">
                    	<input type="text" name="p_addr" placeholder="请输入工作地点，例：北京" />
                    </div>
                </div>
                <div class="kv-item ue-clear time">
                	<label><span class="impInfo"> </span>发布时间</label>
                	<div class="kv-item-content">
                    	<input type="text" name="p_date" id="字段" readonly unselectable="on">
                    </div>                    
                </div>                
            </div>
            
            <h2 class="subfild">
            	<span>职位描述</span>
            </h2>
            
            <div class="subfild-content remarkes-info">
            	<div class="kv-item ue-clear">
                	<label><span class="impInfo">*</span>岗位要求</label>
                	<div class="kv-item-content">
                    	<textarea placeholder="岗位职责" name="p_des" id="content" style="width:800px;height:240px;"></textarea>
                    </div>
                </div>
            </div>
            <"确认 class="buttons">
                <input class="button" onclick="addPo()" value="确认修改" />
            </div>
        </div>
    </div>
	</form>
</div>


</body>

<script type="text/javascript">
	$('select').select();
	showRemind('input[type=text],textarea','color5');
	UM.getEditor('content');
	//获取发布日期
	var d = new Date();
    var timenow=d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();
    document.getElementById('字段').value=timenow;
    //获取学历要求
    $(function(){
        $("#btnSubmit").click(function(){
            var list= $('input:radio[name="p_education"]:checked').val();
            console.log(list)
            // if(list==null){
            //     alert("请选中一个!");
            //     return false;
            // }
            // else{
            //     alert(list);
            // }
        });
    });
    //获取薪资范围
    $(function(){
        $("#btnSubmit").click(function(){
            var list= $('input:radio[name="p_sal"]:checked').val();
            console.log(list)
            // if(list==null){
            //     alert("请选中一个!");
            //     return false;
            // }
            // else{
            //     alert(list);
            // }
        });
    });

    function addPo() {
        $.ajax({
            type:"post",
            dataType:"json",
            url: "/addPosition" ,//url
            data: $('#form1').serialize(),
            success:function(data) {
                console.log(data.des+"qqq");//打印服务端返回的数据(调试用)
                if (data.b == true) {
                    alert("SUCCESS");
                    location.reload(true);
                };
            },

        });
    }
</script>
</html>
