<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.grid.css" />


    <title>简历库哈哈哈</title>

</head>

<body>
<div id="container">
    <div id="hd"></div>
    <div id="bd">
        <div id="main">
            <div class="search-box ue-clear">
                <div class="search-area">

                    <div class="kv-item ue-clear">
                        <label>选择类型:</label>
                        <div class="kv-item-content">
                            <select>
                                <option>全部</option>
                                <option>已邀请面试</option>
                                <option>未通过</option>
                                <option>未查看</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="search-button" style="margin-top:-4px;">
                    <input class="button" type="button" value="搜索一下" />
                </div>
            </div>

            <div class="table">
                <div class="opt ue-clear">
                	<span class="sortarea">
                    	<span class="sort">
                        	<label>排序：</label>
                            <span class="name">
                            	<i class="icon"></i>
                                <span class="text">名称</span>
                            </span>
                        </span>

                        <i class="list"></i>
                        <i class="card"></i>
                    </span>
                    <span class="optarea">

                        <a href="javascript:;" class="delete">
                            <i class="icon"></i>
                            <span class="text">删除</span>
                        </a>

                        <a href="javascript:;" class="statistics">
                            <i class="icon"></i>
                            <span class="text">统计</span>
                        </a>


                    </span>
                </div>

                <div class="grid"></div>

                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.select.js"></script>
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="js/jquery.pagination.js"></script>
<script type="text/javascript" src="js/jquery.grid.js"></script>
<script type="text/javascript" src="js/WdatePicker.js"></script>
<script type="text/javascript">
    var oper = [{label:'未通过',onclick:function(){
        $(".__data")
       var elt= $(this).parent().parent()
var index=elt.index($(this).parent().parent().parent())
console.log($(this).text())
//        $.ajax(function () {
//            url:"/pass",
//                type:post,
//                data:$(this)
//        })
    }},{label:'邀请面试',onclick: function(){
        console.log(this.val())
    }}]
    var tbody=[] ;


    $(function () {
        $.ajax({
            url:"/readresume",
            type:"post",
            dataType:"json",
            success:function(data) {
                console.log("进来了")
                for (var i=0;i<data.length;i++){
                    tbody.push([data[i].r_id,data[i].r_name,data[i].r_work_nature,data[i].r_work_addr,data[i].r_hope_sal,data[i].r_work_category,data[i].r_work_industry,data[i].r_edu_school,data[i].r_edu_class,data[i].r_edu_education,data[i].r_edu_startdate,data[i].r_edu_overdate,data[i].r_exp_time,oper]);
                }
            }
        })
    })
    $('select').select();
    var head = [{
        label: 'ID',
        width: 30,
        sortable: 'default',
        name: 'id',
        id:'cid',
    },{
        label:'姓名',
        width: 80,
        sortable: 'default',
        name:'name'
    },{
        label:'工作性质',
        width:80
    },{
        label: '工作地址',
        width: 80
    },{
        label: '期望工资',
        maxWidth: 80
    },{
        label: '职业类别',
        width: 80
    },{
        label: '所在行业',
        width:80
    },{
        label: '毕业学校',
        width:80
    }
        ,{
            label: '所学专业',
            width:80
        },{
            label: '最高学历',
            width:80
        }
        ,{
            label: '学习开始时间',
            width:80
        },{
            label: '学习结束时间',
            width:80
        },{
            label: '工作经历',
            width:80
        }];





    $('.grid').Grid({
        thead: head,
        tbody: null,
        height:400,
        checkbox: {
            single:true
        },
        operator: {
            type : "normal",
            width : 150
        },
        sortCallBack : function(name,index,type){
            alert(name+","+index+','+type);
        }

    });

    $('.grid').Grid('addLoading');

    /// 模拟异步
    setTimeout(function(){
        $('.grid').Grid('setData',tbody, head);
    },2000)


    $('.pagination').pagination(100,{
        callback: function(page){
            alert(page);
        },
        display_msg: false
    });

    $('.search-box input[type=radio]').click(function(e) {
        if($(this).prop('checked')){
            if($(this).attr('data-define') === 'define'){
                $('.define-input').show();
            }else{
                $('.define-input').hide();
            }
        }
    });
</script>
</html>
