<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看简历</title>
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<style type="text/css">

    li{
        width: 600px;
        margin: auto;
        margin-left:10px;
        margin-top: 20px;
    }
    p{
        width: 600px;
        margin: auto;
    }
    table{
        width: 1200px;
        margin: auto;
        text-align: center;
    }

    .table-1{
        border: 1px solid #ccc;
        border-collapse: collapse;/*合并相邻表格的间距*/
    }
    .table-1 tr,.table-1 td{
        border: 1px solid #ccc;
    }
    #container{
        float:left;

    }


</style>







<script>
    var str="<table class= table-1> <tr><td>id</td><td>姓名</td> <td>年龄</td> <td>性别</td><td>城市</td> <td>email</td><td>工作经验</td><td>操作</td> </tr>"
    var ss=""
    $(function () {
        $.ajax({
            url:"/resume",
            type:"post",
            dataType:"json",
            success:function (data) {
              console.log(data)

                for (var i = 0; i < data.length; i++) {
                    ss = "<tr><td>"+data[i].user.id+"</td><td>"+data[i].user.name+"</td><td>"+data[i].user.age+"</td><td>"+data[i].user.sex+"</td><td>"+data[i].user.city+"</td><td>"+data[i].user.email+"</td><td>"+data[i].user.exp_time+"</td><td><button class='look'>查看简历</button><button class='qq'>发送消息</button></td></tr>"
                    str+=ss
                }
                str += "</table>"

                $("#container").html(str)

                var en=document.getElementsByClassName("look");
                for (var i=0;i<en.length;i++) {
                    en[i].onclick = function () {

                        var ii= this.parentElement.parentElement
                        var qs=ii.children[0].innerHTML;

                          $.ajax({
                          url:"/getuserresume",
                          data:"id="+qs,
                          type:"post",
                          dataType:"json",
                          success:function (data){
                                    console.log(data.data[0].resume.r_name)

                              }


                          })



                    }
                }


            }
        })


    })






</script>





<body>
<div id="container" style="visibility:visible">

</div>



</body>
</html>