
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/html">
<meta charset="UTF-8">
<title>可编辑表格</title>
<link rel="stylesheet"href="/css/backstage/bootstrap.css">
<script src="/js/backstage/table.js"></script>
<script src="../js/backstage/modify.js"></script>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<style media="screen">
    .table {
        text-align: center;
    }
</style>
</head>
<script>
    var str = "<table class=table table-bordered table-hover> <tr><td>ID</td><td>姓名</td><td>电话号码</td><td>专业</td><td>学历</td><td>毕业院校</td><td>住址</td><td>期望薪资</td></tr>"
    var ss = ""
    $(function () {
        $.ajax({
            url:"/getallresume",
            type:"post",
            dataType:"json",
            success:function(data) {
                for (var i=0;i<data.length;i++){
                    ss="<tr><td >"+data[i].r_id+"</td><td>"+data[i].r_name+"</td><td>"+data[i].phonenumber+"</td><td>"+data[i].r_work_category+"</td><td>"+data[i].r_edu_education+"</td><td>"+data[i].r_edu_school+"</td><td>"+data[i].r_work_addr+"</td><td>"+data[i].r_hope_sal+"</td></tr>"
                    str+=ss
                }
                str+="</table>"
                $("#a").html(str)







            }
        })
    })
</script>
<body>

<div id="a">

</div>




</body>
<script>


</script>

</html>